<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Assured Learning ATB13x">
    <test verbose="2" name="C:/Users/Vihaana/IdeaProjects/ATB13xAPIAutomationPrograms">
        <classes>
            <class name="com.vignesh.sample.ex_03_TestNG_AllureReport.APITesting_Lab005_Testcase">
            </class>
        </classes>
    </test>
</suite>